<div class="top-spacer">
</div>

</div>
<div id="krakenlogo">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=FONT_NAME_YOU_PICKED"/>

<div class="center-div-kraken">


<div class="center-body">
  <%= link_to "JOIN US NOW", signup_path, class: "medallion-button gold3 glow-button login-big" %>

<div class="head"></div>
  <div class="medallion"></div>

<div class="square"</div>
<div class="eggleft"></div>
<div class="eggright"></div>
<div class="eggwhiteleft"></div>
<div class="eggblackleft"></div>
<div class="eggwhitesmallleft"></div>
<div class="eggblacksmallleft"></div>
<div class="eggwhiteright"></div>
<div class="eggblackright"></div>
<div class="eggwhitesmallright"></div>
<div class="eggblacksmallright"></div>
<div class="mouthrounding"></div>
</div>
<div class="armcontainer">
<div id="firstleftarm">
  <div class='wave -one'></div>
  <div class='wave -two'></div>
  <div class='wave -three'></div>

  <div class='wave2 -one'></div>
  <div class='wave2 -two'></div>
  <div class='wave2 -three'></div>

  <div class='wave3 -one'></div>
  <div class='wave3 -two'></div>
  <div class='wave3 -three'></div>

  <div class='wave4 -one'></div>
  <div class='wave4 -two'></div>
  <div class='wave4 -three'></div>

  <div class='wave5 -one'></div>
  <div class='wave5 -two'></div>
  <div class='wave5 -three'></div>

  <div class='wave6 -one'></div>
  <div class='wave6 -two'></div>
  <div class='wave6 -three'></div>

  <div class='wave6 -one'></div>
  <div class='wave6 -two'></div>
  <div class='wave6 -three'></div>

  <div class='wave7 -one'></div>
  <div class='wave7 -two'></div>
  <div class='wave7 -three'></div>

  <div class='wave8 -one'></div>
  <div class='wave8 -two'></div>
  <div class='wave8 -three'></div>

  <div class='wave9 -one'></div>
  <div class='wave9 -two'></div>
  <div class='wave9 -three'></div>

  <div class='wave10 -one'></div>
  <div class='wave10 -two'></div>
  <div class='wave10 -three'></div>

</div>
<div id="secondleftarm">
  <div class='wave31 -one'></div>
  <div class='wave31 -two'></div>
  <div class='wave31 -three'></div>

  <div class='wave32 -one'></div>
  <div class='wave32 -two'></div>
  <div class='wave32 -three'></div>

  <div class='wave33 -one'></div>
  <div class='wave33 -two'></div>
  <div class='wave33 -three'></div>

  <div class='wave34 -one'></div>
  <div class='wave34 -two'></div>
  <div class='wave34 -three'></div>

  <div class='wave35 -one'></div>
  <div class='wave35 -two'></div>
  <div class='wave35 -three'></div>

  <div class='wave36 -one'></div>
  <div class='wave36 -two'></div>
  <div class='wave36 -three'></div>

  <div class='wave37 -one'></div>
  <div class='wave37 -two'></div>
  <div class='wave37 -three'></div>

  <div class='wave38 -one'></div>
  <div class='wave38 -two'></div>
  <div class='wave38 -three'></div>

  <div class='wave39 -one'></div>
  <div class='wave39 -two'></div>
  <div class='wave39 -three'></div>

  <div class='wave40 -one'></div>
  <div class='wave40 -two'></div>
  <div class='wave40 -three'></div>

  <div class='wave41 -one'></div>
  <div class='wave41 -two'></div>
  <div class='wave41 -three'></div>

  <div class='wave42 -one'></div>
  <div class='wave42 -two'></div>
  <div class='wave42 -three'></div>

  <div class='wave43 -one'></div>
  <div class='wave43 -two'></div>
  <div class='wave43 -three'></div>

  <div class='wave44 -one'></div>
  <div class='wave44 -two'></div>
  <div class='wave44 -three'></div>

  <div class='wave45 -one'></div>
  <div class='wave45 -two'></div>
  <div class='wave45 -three'></div>

</div>


<div id="firstrightarm">
  <div class='wave11 -one'></div>
  <div class='wave11 -two'></div>
  <div class='wave11 -three'></div>

  <div class='wave12 -one'></div>
  <div class='wave12 -two'></div>
  <div class='wave12 -three'></div>

  <div class='wave13 -one'></div>
  <div class='wave13 -two'></div>
  <div class='wave13 -three'></div>

  <div class='wave14 -one'></div>
  <div class='wave14 -two'></div>
  <div class='wave14 -three'></div>

  <div class='wave15 -one'></div>
  <div class='wave15 -two'></div>
  <div class='wave15 -three'></div>

  <div class='wave16 -one'></div>
  <div class='wave16 -two'></div>
  <div class='wave16 -three'></div>

  <div class='wave17 -one'></div>
  <div class='wave17 -two'></div>
  <div class='wave17 -three'></div>

  <div class='wave18 -one'></div>
  <div class='wave18 -two'></div>
  <div class='wave18 -three'></div>

  <div class='wave19 -one'></div>
  <div class='wave19 -two'></div>
  <div class='wave19 -three'></div>

  <div class='wave20 -one'></div>
  <div class='wave20 -two'></div>
  <div class='wave20 -three'></div>

</div>
<div id="secondrightarm">
  <div class='wave51 -one'></div>
  <div class='wave51 -two'></div>
  <div class='wave51 -three'></div>

  <div class='wave52 -one'></div>
  <div class='wave52 -two'></div>
  <div class='wave52 -three'></div>

  <div class='wave53 -one'></div>
  <div class='wave53 -two'></div>
  <div class='wave53 -three'></div>

  <div class='wave54 -one'></div>
  <div class='wave54 -two'></div>
  <div class='wave54 -three'></div>

  <div class='wave55 -one'></div>
  <div class='wave55 -two'></div>
  <div class='wave55 -three'></div>

  <div class='wave56 -one'></div>
  <div class='wave56 -two'></div>
  <div class='wave56 -three'></div>

  <div class='wave57 -one'></div>
  <div class='wave57 -two'></div>
  <div class='wave57 -three'></div>

  <div class='wave58 -one'></div>
  <div class='wave58 -two'></div>
  <div class='wave58 -three'></div>

  <div class='wave59 -one'></div>
  <div class='wave59 -two'></div>
  <div class='wave59 -three'></div>

  <div class='wave60 -one'></div>
  <div class='wave60 -two'></div>
  <div class='wave60 -three'></div>

  <div class='wave61 -one'></div>
  <div class='wave61 -two'></div>
  <div class='wave61 -three'></div>

  <div class='wave62 -one'></div>
  <div class='wave62 -two'></div>
  <div class='wave62 -three'></div>

  <div class='wave63 -one'></div>
  <div class='wave63 -two'></div>
  <div class='wave63 -three'></div>

  <div class='wave64 -one'></div>
  <div class='wave64 -two'></div>
  <div class='wave64 -three'></div>

  <div class='wave65 -one'></div>
  <div class='wave65 -two'></div>
  <div class='wave65 -three'></div>

</div>

  </div>

</div>
</div>
</div>
</div>
