<div class="top-spacer">
</div>

<div class= "logo-center">
  <%= link_to image_tag("http://iwillnottakethisgracefully.com/images/logo-white.svg"), signup_path %>
  <%= link_to "SIGN UP NOW", signup_path, class: "login-big" %>
</div>
