<h1>Welcome</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Thank you for registering for DMB Loyalty! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
<p>
The instructional PDF in this email can walk you through using your card:
</p>
<p>
  <%= link_to 'DMB Loyalty Walkthrough', root_url+'dmbloyalty_welcome.pdf', { target: '_blank' } %>

</p>
