<% provide(:title, "Daniel Kraken's Pocketwatch") %>
<% @user= current_user %>
<h1 class="gold2">Daniel Kraken's Pocketwatch</h1>
<div class="top_spacer">
</div>
<div class="entire_clock_container_clock_month_hand">

<div class="month_hand <%= @user.characterseason %>">
</div>
</div>
<div class="entire_clock_container_clock">
<article class="clock">
  <div class="hours-container">
    <div class="hours"></div>
  </div>
  <div class="minutes-container">
    <div class="minutes"></div>
  </div>
  <div class="seconds-container">
    <div class="seconds"></div>
  </div>
</article>
</div>
<div class="entire_clock_container_season_label">

<div class="overlaypie">
<div class="pieseason" data-start="0" data-value="10"><div class="seasonlabel1">STERLING</div></div>
<div class="pieseason" data-start="20" data-value="20"><div class="seasonlabel2">SAFFRON</div></div>
<div class="pieseason" data-start="30" data-value="30"><div class="seasonlabel3">RAM</div></div>
<div class="pieseason" data-start="40" data-value="40"><div class="seasonlabel4">ENTICER</div></div>
<div class="pieseason" data-start="50" data-value="10"><div class="seasonlabel5">SLATE</div></div>
<div class="pieseason" data-start="60" data-value="20"><div class="seasonlabel6">BUTTERSCOTCH</div></div>
<div class="pieseason" data-start="60" data-value="20"><div class="seasonlabel7">ROUSTABOUT</div></div>
<div class="pieseason" data-start="70" data-value="30"><div class="seasonlabel8">NAÏF</div></div>
<div class="pieseason" data-start="80" data-value="10"><div class="seasonlabel9">PURE ABJECT TERROR</div></div>
<div class="pieseason" data-start="90" data-value="20"><div class="seasonlabel10">OH HEAVENS!</div></div>
<div class="pieseason" data-start="100" data-value="30"><div class="seasonlabel11">NEOPHYTE</div></div>
<div class="pieseason" data-start="110" data-value="40"><div class="seasonlabel12">ICONOCLAST</div></div>
<div class="pieseason" data-start="120" data-value="10"><div class="seasonlabel13">PETULANCE</div></div>
<div class="pieseason" data-start="130" data-value="20"><div class="seasonlabel14">NITPICKER</div></div>
<div class="pieseason" data-start="140" data-value="30"><div class="seasonlabel15">SHATTER</div></div>
<div class="pieseason" data-start="150" data-value="40"><div class="seasonlabel16">BACCHANAL BLANC</div></div>
<div class="pieseason" data-start="160" data-value="10"><div class="seasonlabel17">CLOVER</div></div>
<div class="pieseason" data-start="170" data-value="20"><div class="seasonlabel18">DOTARD</div></div>
<div class="pieseason" data-start="180" data-value="30"><div class="seasonlabel19">FANG</div></div>
<div class="pieseason" data-start="190" data-value="40"><div class="seasonlabel20">HONEYSUCKLE</div></div>
<div class="pieseason" data-start="200" data-value="10"><div class="seasonlabel21">BRIDLE</div></div>
<div class="pieseason" data-start="210" data-value="20"><div class="seasonlabel22">SPITTOON</div></div>
<div class="pieseason" data-start="220" data-value="30"><div class="seasonlabel23">FALSE WITNESS</div></div>
<div class="pieseason" data-start="230" data-value="40"><div class="seasonlabel24">WOOLPULLER</div></div>
<div class="pieseason" data-start="240" data-value="10"><div class="seasonlabel25">TORRENT</div></div>
<div class="pieseason" data-start="250" data-value="20"><div class="seasonlabel26">AB CHALLENGE</div></div>
<div class="pieseason" data-start="260" data-value="30"><div class="seasonlabel27">MIDWIFE</div></div>
<div class="pieseason" data-start="270" data-value="40"><div class="seasonlabel28">GOLIATH</div></div>
<div class="pieseason" data-start="280" data-value="10"><div class="seasonlabel29">WHISTLE</div></div>
<div class="pieseason" data-start="290" data-value="20"><div class="seasonlabel30">THIEF</div></div>
<div class="pieseason" data-start="300" data-value="30"><div class="seasonlabel31">BABEL</div></div>
<div class="pieseason" data-start="310" data-value="40"><div class="seasonlabel32">ENDURE</div></div>
<div class="pieseason" data-start="320" data-value="10"><div class="seasonlabel33">CARAMEL</div></div>
<div class="pieseason" data-start="330" data-value="20"><div class="seasonlabel34">LAMPLIGHTER</div></div>
<div class="pieseason" data-start="340" data-value="10"><div class="seasonlabel35">BANNERMAN</div></div>
<div class="pieseason" data-start="350" data-value="10"><div class="seasonlabel36">BACCHANAL ROUGE</div></div>
<div class="pieseason" data-start="360" data-value="10"></div>
</div>

</div>

<div class="entire_clock_container_season">
<div class="originalpie">
<div class="pie" data-start="0" data-value="10"></div>
<div class="pie" data-start="20" data-value="20"></div>
<div class="pie" data-start="30" data-value="30"></div>
<div class="pie" data-start="40" data-value="40"></div>
<div class="pie" data-start="50" data-value="10"></div>
<div class="pie" data-start="60" data-value="20"></div>
<div class="pie" data-start="70" data-value="30"></div>
<div class="pie" data-start="80" data-value="10"></div>
<div class="pie" data-start="90" data-value="20"></div>
<div class="pie" data-start="100" data-value="30"></div>
<div class="pie" data-start="110" data-value="40"></div>
<div class="pie" data-start="120" data-value="10"></div>
<div class="pie" data-start="130" data-value="20"></div>
<div class="pie" data-start="140" data-value="30"></div>
<div class="pie" data-start="150" data-value="40"></div>
<div class="pie" data-start="160" data-value="10"></div>
<div class="pie" data-start="170" data-value="20"></div>
<div class="pie" data-start="180" data-value="30"></div>
<div class="pie" data-start="190" data-value="40"></div>
<div class="pie" data-start="200" data-value="10"></div>
<div class="pie" data-start="210" data-value="20"></div>
<div class="pie" data-start="220" data-value="30"></div>
<div class="pie" data-start="230" data-value="40"></div>
<div class="pie" data-start="240" data-value="10"></div>
<div class="pie" data-start="250" data-value="20"></div>
<div class="pie" data-start="260" data-value="30"></div>
<div class="pie" data-start="270" data-value="40"></div>
<div class="pie" data-start="280" data-value="10"></div>
<div class="pie" data-start="290" data-value="20"></div>
<div class="pie" data-start="300" data-value="30"></div>
<div class="pie" data-start="310" data-value="40"></div>
<div class="pie" data-start="320" data-value="10"></div>
<div class="pie" data-start="330" data-value="20"></div>
<div class="pie" data-start="340" data-value="10"></div>
<div class="pie" data-start="350" data-value="10"></div>
<div class="pie" data-start="360" data-value="10"></div>
</div>
</div>
</html>
