<% provide(:title, "Prologue") %>
<% @user= current_user %>
<h1 class="gold2">Prologue</h1>
<div class="dramatis">
  Dramatis Personæ
</div>
<div class="dramatis-contents">
<div class="listfloatleft"
<ul style="list-style-type:none">
  <li class="li2">Fawn Bobapple</li>
  <li class="li2"><%= @user.characterfirstname %> <%= @user.characterlastname %></li>
  <li class="li2">Daniel Kraken</li>
  <li class="li2">Comet Heartbreak</li>
  <li class="li2">Pinot Grigio Bot</li>
  <li class="li2">Merlot Bot</li>
  <li class="li2">Salt Peter</li>
  <li class="li2">Doe Bobapple</li>
  <li class="li2">Buck Bobapple, Esq.</li>
  <li class="li2">Small Almighty</li>
  <li class="li2">Tad Excessive</li>
</ul>
</div>
<div class="listfloatright"
<ul style="list-style-type:none">
  <li class="li2">Our Intrepid Protagonist</li>
  <li class="li2">Budding Deuteragonist</li>
  <li class="li2">Father of Our Modern Age</li>
  <li class="li2">Bodyguard and Kind of a Badass</li>
  <li class="li2">Last of the White Wine Automotons</li>
  <li class="li2">Red Wine Automoton, Vengeance Specialist</li>
  <li class="li2">Assassin, Nascent Saint</li>
  <li class="li2">Nail Grazer and Hell Raiser</li>
  <li class="li2">Daniel Kraken's Former Attorney, Now Deceased</li>
  <li class="li2">Lightning Bolt in the Employ of Kraken, Inc.</li>
  <li class="li2">Fop and Mountebank</li>
</ul>
</div>

<div class="ellipsis">
<ul style="list-style-type:none">
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
   <li class="li2">...</li>
  </ul>
</div>
</div>
<main class="page-content">
    <article class="post">
<!--
      <h1>Article Layout with Varying Content Width Using CSS Grid</h1>
-->

  </article>
</div>
</main>
</body>
</html>
