<% provide(:title, "Our Spirits") %>
<h1 class="gold2">Our Spirits</h1>
<div class="top_spacer">
</div>

<div class="center-div-seal-left">
  <div data-content="Dive into your greatest fear with Daniel Kraken's Hypersea.
  Notes of juniper and hints of existential dread make for an intoxication that surrounds you.
  Why wait to drown? Outpace inevitability.
  Cast yourself into Hypersea." class="hyperseacovering">
<div class="wavecoveringleft">
  </div>
<div class="wavecoveringright">
  </div>
<div class="whiteshield">

    <div class="blueshield">
    </div>
    <div class="blueshield2">
    </div>

    <div class="bluecirclewave0">
    </div>
    <div class="bluecirclewave">
    </div>
    <div class="bluecirclewave2">
    </div>
    <div class="bluecirclewave3">
    </div>
    <div class="bluecirclewave4">
    </div>
    <div class="bluecirclewave5">
    </div>
    <div class="bluecirclewave6">
    </div>
    <div class="bluecirclewave7">
    </div>
    <div class="bluecirclewave8">
    </div>
    <div class="bluecirclewave9">
    </div>
        <div class="bluecirclewave10">
    </div>
    <div class="bluecirclewave11">
    </div>
    <div class="bluecirclewave12">
    </div>
    <div class="bluecirclewave20">
    </div>
    <div class="bluecirclewave21">
    </div>
    <div class="bluecirclewave22">
    </div>
    <div class="bluecirclewave23">
    </div>
    <div class="bluecirclewave24">
    </div>
    <div class="bluecirclewave25">
    </div>
    <div class="bluecirclewave26">
    </div>
    <div class="bluecirclewave27">
    </div>
    <div class="bluecirclewave28">
    </div>
    <div class="bluecirclewave29">
    </div>
    <div class="bluecirclewave210">
    </div>
    <div class="bluecirclewave211">
    </div>
    <div class="bluecirclewave212">
    </div>

    <div class="wavespacer1">
    </div>
    <div class="wavespacer2">
    </div>
    <p class="h">
      H
    </p>
    <p class="y">
      Y
    </p>
    <p class="p">
      P
    </p>
    <p class="e">
      E
    </p>
    <p class="r">
      R
    </p>
        <p class="s">
      S
    </p>
        <p class="e2">
      E
    </p>
        <p class="a">
      A
    </p>
    <p class="depths">
DO NOT
    </p>
    <p class="depths2">
FEAR
    </p>
    <p class="depths3">
ITS DEPTHS
    </p>
       </div>
    <div class="leftuppercircle">
  </div>
    <div class="rightuppercircle">
  </div>
  <div class="leftlowercircle">
  </div>
    <div class="rightlowercircle">
  </div>
 <div>
  </div>
</div>
</div>
<div class="center-div-seal-right">
<div class="wavecoveringleft">
  </div>
<div class="wavecoveringright">
  </div>
<div class="whiteshield">
    <div class="blueshield">
    </div>
    <div class="blueshield2">
    </div>

    <div class="bluecirclewave0">
    </div>
    <div class="bluecirclewave">
    </div>
    <div class="bluecirclewave2">
    </div>
    <div class="bluecirclewave3">
    </div>
    <div class="bluecirclewave4">
    </div>
    <div class="bluecirclewave5">
    </div>
    <div class="bluecirclewave6">
    </div>
    <div class="bluecirclewave7">
    </div>
    <div class="bluecirclewave8">
    </div>
    <div class="bluecirclewave9">
    </div>
        <div class="bluecirclewave10">
    </div>
    <div class="bluecirclewave11">
    </div>
    <div class="bluecirclewave12">
    </div>
    <div class="bluecirclewave20">
    </div>
    <div class="bluecirclewave21">
    </div>
    <div class="bluecirclewave22">
    </div>
    <div class="bluecirclewave23">
    </div>
    <div class="bluecirclewave24">
    </div>
    <div class="bluecirclewave25">
    </div>
    <div class="bluecirclewave26">
    </div>
    <div class="bluecirclewave27">
    </div>
    <div class="bluecirclewave28">
    </div>
    <div class="bluecirclewave29">
    </div>
    <div class="bluecirclewave210">
    </div>
    <div class="bluecirclewave211">
    </div>
    <div class="bluecirclewave212">
    </div>

    <div class="wavespacer1">
    </div>
    <div class="wavespacer2">
    </div>
    <p class="h">
      H
    </p>
    <p class="y">
      Y
    </p>
    <p class="p">
      P
    </p>
    <p class="e">
      E
    </p>
    <p class="r">
      R
    </p>
        <p class="s">
      S
    </p>
        <p class="e2">
      E
    </p>
        <p class="a">
      A
    </p>
    <p class="depths">
DO NOT
    </p>
    <p class="depths2">
FEAR
    </p>
    <p class="depths3">
ITS DEPTHS
    </p>
       </div>
    <div class="leftuppercircle">
  </div>
    <div class="rightuppercircle">
  </div>
  <div class="leftlowercircle">
  </div>
    <div class="rightlowercircle">
  </div>
 <div>
  </div>
</div>

</html>
